# Build & distribution
__pycache__/
*.mo
*.py[cod]
*.egg
*.egg-info
build/
dist/

# Deps
venv/
front/node_modules

# test
.pytest_cache/

# editors & OS
.vscode/
*.DS_Store
.idea/

# local env
*.local
