dist: xenial
language: python
addons:
    postgresql: "10"
    apt:
        packages:
        - "postgresql-10-postgis-2.4"
python:
    - "3.7"
before_install:
    - pip install --upgrade pytest
install:
    - "pip install -e .[dev]"
before_script:
    - psql -U postgres -c 'create database midas;'
    - psql -U postgres -c 'create extension postgis;'
    - python manage.py migrate
script:
    - black --check midas
    - flake8
    - pytest
