dist: xenial
language: python
cache: pip
addons:
    postgresql: "10"
    apt:
        packages:
        - postgresql-10-postgis-2.4
python:
    - "3.7"
install:
    - "pip install -e .[dev]"
before_script:
    - psql -U postgres -c 'create database mds;'
    - psql -U postgres -c 'create extension postgis;'
    - python manage.py migrate
script:
    - black --check mds --exclude ./migrations
    - flake8 --exclude=./mds/migrations
    - pytest
