language: python
services:
    - postgresql
python:
    - "3.6"
    - nightly
env:
install:
    - pip install -e .[dev]
before_script:
    - psql -c 'create database midas;' -U postgres
    - python midas/manage.py migrate
script:
    - black
    - flake8
    - pytest
