language: python
addons:
    postgresql: "9.6"
    apt:
        packages:
        - "postgresql-9.6-postgis-2.3"
python:
    - "3.6"
    - nightly
before_install:
    - pip install --upgrade pytest
install:
    - "pip install -e .[dev]"
before_script:
    - psql -U postgres -c 'create database midas;'
    - psql -U postgres -c 'create extension postgis;'
    - python midas/manage.py migrate
script:
    - black --check midas
    - flake8
    - pytest
