include LICENSE README.md CHANGELOG.rst
recursive-include mds/locale *

exclude  manage.py
exclude .env.example
exclude prerelease_script.py

graft mds
prune front
prune tests

global-exclude *.py[cod] __pycache__ .dockerignore
